---
layout: layout
title: Resume
---
<section class="resume-intro">
	<div class="container">
		<h2>JP Costallos</h2>
		<h3><em>Web Developer</em></h3>
		<p><%= link_to 'jpcostallos.com', 'https://jpcostallos.com/' %></p>
		<p><%= link_to 'web@jpcostallos.com', 'mailto:web@jpcostallos.com' %></p>
	</div>
</section>
<section class="experience">
	<div class="container">
		<h3 class="icon-user">Experience</h3>
		<div class="full-column">
			<h4>Emereo Creative - Orlando, Fl</h4>
			<p><em>Web Developer, 12/2014 - Present</em></p>
			<p>Used HTML / CSS (Sass) / JavaScript / PHP to develop aesthetically pleasing, mobile-first, and UX driven websites, web applications, and content management systems for clients. Set up and mainted git repositories and hosting environments. Took UI/UX design wireframes and visual mockups and translated them to code. Connected to third-party services using various API techniques. Maintained well-documented and reusable code.</p>
		</div>
		<div class="full-column">
			<h4>UCF Office of Student Involvement (OSI) - Orlando, Fl</h4>
			<p><em>Web Designer / Developer, 05/2013 - 12/2014</em></p>
			<p>Used HTML / CSS (Sass) / JavaScript / PHP to Design, develop, and maintain multiple websites for agencies located within the Office of Student Involvement. Used Wordpress content management system to create custom themes specific to each agency. Websites required unique post types, forms, and features. Worked directly with clients to understand and meet their needs to make an enjoyable experience for their user base.</p>
		</div>
		<div class="full-column">
			<h4>AAA National Motor Club - Heathrow, FL</h4>
			<p><em>UI/UX Design Intern, 04/2014 - 08/2014</em></p>
			<p>Assisted with User Interface and User Experience design for AAA National internal road service web/native applications. Create and revise information architecture documents and diagrams such as: content diagrams, content maps, wire frames, comprehensive diagrams and static prototypes. Also Created mock ups, directed ongoing usability testing, and used HTML/CSS/JavaScript to design and develop user interfaces.</p>
		</div>
		<div class="full-column">
			<h4>uBreakiFix - Orlando, FL</h4>
			<p><em>Web Technician and Customer Service, 05/2012 - 05/2013</em></p>
			<p>Provided customer service via national support phone number, resolved customer issues, received payments, serviced customer orders. Repaired and restored software/hardware on devices such as smartphones, iPods, iPads, laptops, PC's, and video game consoles. Received, sorted and diagnosed all incoming devices. Tested, completed orders, and shipped all outgoing devices.</p>
		</div>
	</div>
</section>
<section class="education">
	<div class="container">
		<h3 class="icon-library">Education</h3>
		<div class="full-column">
			<h4>University of Central Florida (UCF) – Orlando, Fl - <span>3.7 GPA</span></h4>
			<p><em>Bachelor's Degree - Digital Media: Web Design | Graduated: 12/2014</em></p>						

			<h4>Edison State College - Fort Myers, Fl - <span>3.5 GPA</span></h4>
			<p><em>Associates of Arts Degree - General Education | Graduated: 12/2011</em></p>						

			<h4>Ida S. Baker High School - Cape Coral, Fl - <span>3.5 GPA</span></h4>
			<p><em>High School Diploma - Information Technology | Graduated: 06/2009</em></p>		
		</div>			

	</div>
</section>
<section class="skills">
	<div class="container">
		<h3 class="icon-profile">Skills</h3>
		<p>All skill proficiencies are based off of the <a href="http://en.wikipedia.org/wiki/Dreyfus_model_of_skill_acquisition">Dreyfus Model of Skill Acquisition.</a></p>
		<div class="half-column">
			<h4>Web Development</h4>
			<ul>
				<li><em>Expert</em> with Semantic HTML5</li>
				<li><em>Expert</em> with CSS3 & Sass</li>
				<li><em>Expert</em> with PHP (WordPress & Non-WP)</li>
				<li><em>Expert</em> with Cross Browser Usability</li>				
				<li><em>Proficient</em> with JavaScript & jQuery, and other various JS Frameworks/Libraries</li>
				<li><em>Proficient</em> with Git Version Control System</li>
				<li><em>Proficient</em> with Asynchronous (AJAX) requests</li>
			</ul>
		</div>
		<div class="half-column">
			<h4>Web Design</h4>
			<ul>
				<li><em>Expert</em> with Responsive Design</li>
				<li><em>Expert</em> with User Interface & Experience Design</li>
				<li><em>Proficient</em> with Typographical Hierarchy</li>
				<li><em>Proficient</em> with Adobe Photoshop</li>
				<li><em>Proficient</em> with Adobe Illustrator</li>
				<li><em>Proficient</em> with Adobe Premiere</li>
			</ul>
		</div>
	</div>
	<div class="container">
		<div class="full-column">
			<h4>Technical</h4>
			<ul>
				<li>Proficient with computer hardware including assembling and building desktop PC's, by installing and/or replacing parts</li>
				<li>Proficient with computer/mobile software and operating systems Mac OSX, Windows 7, iOS, software installations, troubleshooting, and system configurations and customizations</li>
			</ul>
		</div>
		<div class="full-column">
			<h4>Misc. Software, Tools & Languages</h4>
			<p>Web Inspector, Shell, Git, Github, Sublime Text, Xcode, Grunt, Gulp, MAMP, Adobe Premiere, CodePen, Middleman, Jekyll, MySQL, phpMyAdmin, cPanel, AngularJS, Bootstrap, Foundation, Bourbon, Neat </p>
		</div>
	</div>
</section>
<section class="extra">
	<div class="container">
		<div class="half-column">
			<h3 class="icon-trophy">Awards</h3>
			<ul>
				<li><em>Cum Laude</em> (3.5 GPA and Above) award winner – Ida S. Baker High School</li>
				<li><em>Dean's List</em> (3.5 GPA and Above ) award winner – Edison State College</li>
				<li><em>Dean's List</em> (3.5 GPA and Above ) award winner – University of Central Florida</li>
				<li>Bright Futures Scholarship Recipient</li>
				<li>Team-Treehouse Scholarship Recipient</li>
			</ul>
		</div>
		<div class="half-column">
			<h3 class="icon-users">Extra Involvement</h3>
			<ul>
				<li><em>Founding President</em> of UCF Masters of Web student organization for Web Designers & Developers</li>
				<li><em>Member</em> of UCF Graphic Design Student Association (GDSA)</li>
				<li><em>Volunteer</em> at Orlando's In Control 2014 Mobile & Web Design Conference</li>
			</ul>
		</div>
	</div>
</section>
